{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/display.css' %}" />

{% endblock %}

{% block content %}
<div class="baby-detail">
  <h2>Baby Detail</h2>
  
  <p><strong>Name:</strong> {{ baby.name }}</p>
  <p><strong>Birth Date:</strong> {{ baby.birth_date }}</p>
  <p><strong>Height:</strong> {{ baby.height_in }}</p>
  <p><strong>Weight:</strong> {{ baby.weight_lb }}</p>
{% if baby.photo %}
  <img src="{{ baby.photo.url }}" class="baby-photo" alt="{{ baby.name }}">
{% else %}
  <img src="{% static 'images/babydiaper.jpg' %}" class="baby-photo" alt="Default baby">
{% endif %}  <br>
  <div class='back'>
  <a onclick='history.back()'>
      <img src="{% static 'images/back-arrow.jpg' %}" alt="Back">
    </a>
  </div>
</div>

{% endblock %}