{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="edit-bar">
  <h2>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Medicine for {{ baby.name }}</h2>

  <a href="{% url 'medicines' baby.id %}">
    <img src="{% static 'images/back-arrow.jpg' %}">
</a>
</div>

  <form method="post" class="medicine-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-submit">Save</button>
  </form>

{% endblock %}